<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

  <link rel="stylesheet" href="{% static 'css/denta.css' %}">
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>My Cheboksar clinic</title>
</head>

<body>

{% include 'header.html' %}
{% include "form_for_zakaz.html" %}








  <div class="services">
    <div class="services_title">
      <h1>Услуги</h1>

      <p>Мы постарались сделать прайс,
      максимально простым и понятным</p>
    </div>
    <div class="exsaple_services">
      <div class="exsaple_services_">
        <div class="exsaple_buttons">
          <a class="buttons_">
            <img class="zubi" src="{% static 'images/dental%20treatment.png' %}" alt="zubi">
          </a>
          <p class="description_buttons">Лечение зубов</p>

          <a class="buttons_">
            <img class="zubi" src="{% static 'images/gigiena.png' %}" alt="zubi">
          </a>
          <p>Гигиена</p>

          <a class="buttons_">
            <img class="zubi" src="{% static 'images/brecets.png' %}" alt="zubi">
          </a>
          <p>Брекеты</p>

          <a class="buttons_">
            <img class="zubi" src="{% static 'images/childrns_stomatologie.png' %}" alt="zubi">
          </a>
          <p>Детская стомоталогия</p>

          <a class="buttons_">
              <img class="zubi" src="{% static 'images/implants.png' %}" alt="zubi">
            </a>
            <p>Импланты</p>

        </div>
      </div>
    </div>
  </div>




  <div class="nam_doveraut_">
    <h2 class="nnan">Нам доверяют клиенты</h2>


    <div class="nam_doverayt">
      <div class="num">
        <p class="number">1</p>
      </div>
      <p>Честные цены, без хитрых уловок</p>
      <p>Фиксируем цены в плане лечения,
        не повышаем в процессе.
      </p>

      <div class="num">
        <p class="number">2</p>
      </div>
      <p>Опытные Врачи</p>
      <p>Врачи постоянно совершенствуются
        в своей специальности, несмотря
        на богатый опыт работы.</p>

      <div class="num">
        <p class="number">3</p>
      </div>
      <p>Комфортные условия</p>
      <p>Уютная обстановка и отзывчивый персонал
        сделают поход к стоматологу максимально приятным.
      </p>
    </div>
  </div>

  <div class="sertificat">
    <h3>При фиксации брекетов на обе челюсти
      получи сертификат на 7000 рублей</h3>

    <p class="">Укажите вой номер телефона, мы перезвоним и подберем для вас удобное время приёма.
      Или позвоните нам сами — +7 900 333 10 40 </p>
    <p class="">Записаться на приём</p>
    <p class="">Записываясь на услугу вы даёте согласие на
      <a href="#">обработку своих персональных данных</a></p>
    <img src="{% static 'images/lithuanian-woman-dentist-holding-tools-isolated-background-celebrating-victory_1-removebg%201.png' %}" alt="women">
  </div>
  <div class="lechenie_y_nas">
    <h1>Лечение у нас</h1>
    <p>Просто и безболезненно, с предоставлением всего
      спектра стоматологических услуг</p>
    <img src="{% static 'images/logo.svg' %}" alt="logo">
    <p>клиника</p>
    <p>предоставляет весь спектр
      стоматологических услуг таких как : </p>

    <p>Терапия </p>
    <p>Хирургия </p>
    <p>Ортодонтия </p>
    <p>Детская стоматология </p>
    <p>Ортопедия </p>

    <p>Приоритетным направлением является восстановление функциональных возможностей зубочелюстной системы
      и профилактика заболевания полости рта. </p>
    <img src="{% static 'images/portrait-dentist-taking-selfie-with-patient%202.png' %}" alt="doctor">
    <img src="{% static 'images/_-2%201.png' %}" alt="doctor">
    <img src="{% static 'images/320x0w%201.png' %}" alt="doctor">
    <img src="{% static 'images/business_logo%201.png' %}" alt="doctor">
  </div>
  <div class="specialist">
    <h3>Специалисты</h3>
    <p>Просто и безболезненно, с предоставлением всего спектра стоматологических услуг</p>
    <p>Шац Дарья
      Сергеевна </p>
    <p>Директор, Главный врач , Врач ортодонт</p>
    <p>Стаж работы 11 лет </p>
    <img src="{% static 'images/beautiful-young-woman-doctor-posing-white-medical-gown_1-removebg%202.png' %}" alt="doctor">

    <p>Лыщиков Павел
      Анатольевич</p>
    <p>Врач стоматолог ортопед, хирург-имплантолог</p>
    <p>Стаж работы более 15 лет</p>
    <img src="{% static 'images/dentist-man-holding-tools-isolated-white-wall-laughing%201.png' %}" alt="doctor">
  </div>
  <div class="konsultasia">
    <h3>
      Онлайн консультация специалиста
      по аудио и видео связи, Бесплатно.
    </h3>
    <p>Укажите вой номер телефона, мы перезвоним и подберем для вас удобное время для консультации.
      Или позвоните нам сами — +7 900 333 10 40 </p>

    <p>Записаться на прием</p>
    <p>Записываясь на услугу вы даёте согласие на
      обработку своих персональных данных</p>
    <img src="{% static 'images/lithuanian-woman-dentist-holding-tools-isolated-making-phone-gesture-call-me-back-sign_1-removebg%201.png' %}">

  </div>


{% include "footer.html" %}
</body>
</html>





<!--    <div class="main-titile">-->
<!--      <div class="left-main_titile">-->
<!--        <img class="main_image" src="images/main_image.png" alt="main_image">-->
<!--      </div>-->
<!--      <div class="under-main_title">-->
<!--        <p>- Стоматология в Чебоксарах</p>-->
<!--        <h1>Лечение зубов-->
<!--        в тот же день-->
<!--        </h1>-->
<!--        <p>Мы проведем полную консультацию,-->
<!--        профессиональную гигиену полости рта,-->
<!--        лечение зубов и десен-->
<!--        </p>-->

<!--        <p>Записаться на приём</p>-->
<!--      </div>-->
<!--    </div>-->





<!--  <div class="Advantages">-->
<!--    <div class="main-title-footer">-->
<!--      <div class="main-title-footer-container">-->
<!--        <img class="doctor" src="images/doctor.svg" alt="doctor_img">-->
<!--        <p>Команда квалифицированных-->
<!--          специалистов </p>-->
<!--      </div>-->
<!--      <div class="main-title-footer-container">-->
<!--        <img class="chair" src="images/chair.svg" alt="chair_img">-->
<!--        <p>3 стоматологических кабинета </p>-->
<!--      </div>-->
<!--      <div class="main-title-footer-container">-->
<!--        <img class="doctor" src="images/doctor.svg" alt="doctor_img">-->
<!--        <p>Команда квалифицированных-->
<!--          специалистов </p>-->
<!--      </div>-->
<!--      <div class="main-title-footer-container">-->
<!--        <img class="geo" src="images/geo.svg" alt="geo__img">-->
<!--        <p>Удобное расположение  </p>-->
<!--      </div>-->
<!--  </div>-->





<!--    <div class="services">-->
<!--      <div class="services_title">-->
<!--        <div class="yslugi_container">-->
<!--          <h1>Услуги</h1>-->
<!--          <p>Мы постарались сделать прайс,-->
<!--            максимально простым и понятным</p>-->
<!--        </div>-->
<!--        <div class="exsaple_services">-->
<!--          <div class="exsaple_buttons">-->
<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/dental treatment.png" alt="zubi">-->
<!--            </a>-->
<!--            <p class="description_buttons">Лечение зубов</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/gigiena.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Гигиена</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/brecets.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Брекеты</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/childrns_stomatologie.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Детская стомоталогия</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/implants.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Импланты</p>-->

<!--          </div>-->
<!--          <div class="prodolzhenie">-->
<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/viniri.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Виниры</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/coronki.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Коронка</p>-->

<!--            <a class="buttons_">-->
<!--              <img class="zubi" src="images/hiturgija.png" alt="zubi">-->
<!--            </a>-->
<!--            <p>Хирургия</p>-->
<!--          </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->
<!--      <h2>Нам доверяют клиенты</h2>-->


<!--    <div class="nam_doverayt">-->
<!--      <div class="num">-->
<!--        <p class="number">1</p>-->
<!--      </div>-->
<!--      <p>Честные цены, без хитрых уловок</p>-->
<!--      <p>Фиксируем цены в плане лечения,-->
<!--        не повышаем в процессе.-->
<!--      </p>-->

<!--      <div class="num">-->
<!--        <p class="number">2</p>-->
<!--      </div>-->
<!--      <p>Опытные Врачи</p>-->
<!--      <p>Врачи постоянно совершенствуются-->
<!--        в своей специальности, несмотря-->
<!--        на богатый опыт работы.</p>-->

<!--      <div class="num">-->
<!--        <p class="number">3</p>-->
<!--      </div>-->
<!--      <p>Комфортные условия</p>-->
<!--      <p>Уютная обстановка и отзывчивый персонал-->
<!--        сделают поход к стоматологу максимально приятным.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="sertificat">-->
<!--      <h3>При фиксации брекетов на обе челюсти-->
<!--        получи сертификат на 7000 рублей</h3>-->

<!--      <p class="">Укажите вой номер телефона, мы перезвоним и подберем для вас удобное время приёма.-->
<!--        Или позвоните нам сами — +7 900 333 10 40 </p>-->
<!--      <p class="">Записаться на приём</p>-->
<!--      <p class="">Записываясь на услугу вы даёте согласие на-->
<!--        <a href="#">обработку своих персональных данных</a></p>-->
<!--      <img src="images/lithuanian-woman-dentist-holding-tools-isolated-background-celebrating-victory_1-removebg 1.png" alt="women">-->
<!--    </div>-->
<!--    <div class="lechenie_y_nas">-->
<!--      <h1>Лечение у нас</h1>-->
<!--      <p>Просто и безболезненно, с предоставлением всего-->
<!--        спектра стоматологических услуг</p>-->
<!--      <img src="images/logo.svg" alt="logo">-->
<!--      <p>клиника</p>-->
<!--      <p>предоставляет весь спектр-->
<!--        стоматологических услуг таких как : </p>-->

<!--      <p>Терапия </p>-->
<!--      <p>Хирургия </p>-->
<!--      <p>Ортодонтия </p>-->
<!--      <p>Детская стоматология </p>-->
<!--      <p>Ортопедия </p>-->

<!--      <p>Приоритетным направлением является восстановление функциональных возможностей зубочелюстной системы-->
<!--        и профилактика заболевания полости рта. </p>-->
<!--      <img src="images/portrait-dentist-taking-selfie-with-patient 2.png" alt="doctor">-->
<!--      <img src="images/_-2 1.png" alt="doctor">-->
<!--      <img src="images/320x0w 1.png" alt="doctor">-->
<!--      <img src="images/business_logo 1.png" alt="doctor">-->
<!--    </div>-->
<!--    <div class="specialist">-->
<!--      <h3>Специалисты</h3>-->
<!--      <p>Просто и безболезненно, с предоставлением всего спектра стоматологических услуг</p>-->
<!--      <p>Шац Дарья-->
<!--        Сергеевна </p>-->
<!--      <p>Директор, Главный врач , Врач ортодонт</p>-->
<!--      <p>Стаж работы 11 лет </p>-->
<!--      <img src="images/beautiful-young-woman-doctor-posing-white-medical-gown_1-removebg 2.png" alt="doctor">-->

<!--      <p>Лыщиков Павел-->
<!--        Анатольевич</p>-->
<!--      <p>Врач стоматолог ортопед, хирург-имплантолог</p>-->
<!--      <p>Стаж работы более 15 лет</p>-->
<!--      <img src="images/dentist-man-holding-tools-isolated-white-wall-laughing 1.png" alt="doctor">-->
<!--    </div>-->
<!--    <div class="konsultasia">-->
<!--      <h3>-->
<!--        Онлайн консультация специалиста-->
<!--        по аудио и видео связи, Бесплатно.-->
<!--      </h3>-->
<!--      <p>Укажите вой номер телефона, мы перезвоним и подберем для вас удобное время для консультации.-->
<!--        Или позвоните нам сами — +7 900 333 10 40 </p>-->

<!--      <p>Записаться на прием</p>-->
<!--      <p>Записываясь на услугу вы даёте согласие на-->
<!--        обработку своих персональных данных</p>-->
<!--      <img src="images/lithuanian-woman-dentist-holding-tools-isolated-making-phone-gesture-call-me-back-sign_1-removebg 1.png-->
<!--  " alt="doctor">-->
<!--    </div>-->

<!--    <footer>-->
<!--      <img src="images/google.svg" alt="google">-->
<!--      <img src="images/instagram.svg" alt="instagram">-->
<!--      <img src="images/invision.svg" alt="invision">-->

<!--      <p>ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099-->
<!--        © 2018-2021</p>-->

<!--      <p>Политика в отношении обработки персональных данных</p>-->
<!--      <img src="images/logo.svg" alt="logo">-->
<!--    </footer>-->
















<!--  <header class="header">-->
<!--    <div class="container">-->
<!--      <div class="header__inner">-->
<!--        <a class="logo" href="#">-->
<!--          <img class="logo__img_main" src="images/logo.svg" alt="logo">-->
<!--        </a>-->
<!--        <div href="" class="socialseti">-->
<!--          <a class="logo" href="#">-->
<!--            <img class="logo__img" src="images/google.svg" alt="logo">-->
<!--          </a>-->
<!--          <a class="logo" href="#">-->
<!--            <img class="logo__img" src="images/instagram.svg" alt="logo">-->
<!--          </a>-->
<!--          <a class="logo" href="#">-->
<!--            <img class="logo__img" src="images/invision.svg" alt="logo">-->
<!--          </a>-->
<!--        </div>-->
<!--        <nav class="menu">-->
<!--          <ul class="menu__list">-->
<!--            <li class="menu__item">-->
<!--              <a class="menu__link" href="#">О нас</a>-->
<!--            </li>-->
<!--            <li class="menu__item">-->
<!--              <a class="menu__link" href="#">Специалисты</a>-->
<!--            </li>-->
<!--            <li class="menu__item">-->
<!--              <a class="menu__link" href="#">Пациентам</a>-->
<!--            </li>-->
<!--            <li class="menu__item">-->
<!--              <a class="menu__link" href="#">Контакты</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <ul class="contact__list">-->
<!--            <img class="geoposition" src="images/location_outline.svg" alt="geo">-->
<!--            <li class="contact__item">-->
<!--              <a class="contact__link" href="#">Чебоксары,-->
<!--                Энтузиастов 1А</a>-->
<!--            </li>-->
<!--            <img class="calendar" src="images/calendar.svg" alt="geo">-->
<!--            <li class="calendar_item">-->
<!--              <a class="schedule" href="#">С 09.00 - 20.00 пн-сб</a>-->
<!--            </li>-->
<!--            </li>-->
<!--            <img class="phone" src="images/phone.svg" alt="geo">-->
<!--            <li class="Phone">-->
<!--              <a class="number" href="#">+7900 333 10 40</a>-->
<!--            </li>-->
<!--            </li>-->
<!--            <li class="Phone_number">-->
<!--              <a class="number_zakaz" href="#">Заказать звонок</a>-->
<!--            </li>-->

<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
