<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/denta.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="main-titile">
    <div class="left-main_titile">
      <img class="main_image" src="{% static 'images/main_image.png' %}" alt="main_image">
    </div>
    <div class="under-main_title">
      <p>- Стоматология в Чебоксарах</p>
      <h1>Лечение зубов
      в тот же день
      </h1>
      <p>Мы проведем полную консультацию,
      профессиональную гигиену полости рта,
      лечение зубов и десен
      </p>

      <p>Записаться на приём</p>
    </div>
  </div>
  <div class="main-title-footer">
    <div class="main-title-footer-container">
      <img class="doctor" src="{% static 'images/doctor.svg' %}" alt="doctor_img">
      <p>Команда квалифицированных
        специалистов </p>
    </div>
    <div class="main-title-footer-container">
      <img class="chair" src="{% static 'images/chair.svg' %}" alt="chair_img">
      <p>3 стоматологических кабинета </p>
    </div>
    <div class="main-title-footer-container">
      <img class="doctor" src="{% static 'images/doctor.svg' %}" alt="doctor_img">
      <p>Команда квалифицированных
        специалистов </p>
    </div>
    <div class="main-title-footer-container">
      <img class="geo" src="{% static 'images/geo.svg' %}" alt="geo__img">
      <p>Удобное расположение  </p>
    </div>
  </div>

</body>
</html>